<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{132,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{198,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{264,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{330,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{396,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{462,0},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{528,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb845f4c1b42e79bb0d538dd0f4b25a5:25a5e7cebcbf6c7dde43e25544da367d:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
