<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy01_Attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{81,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{162,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{243,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{324,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{405,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{486,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{567,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{648,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{729,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{810,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>small_b2.png</string>
            <key>size</key>
            <string>{891,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb9570556d6792fb59fb6c81a720f89:6db84446dfc52214b2e32685e7ad7190:02d182309d3b563c247208ac4907d3aa$</string>
            <key>textureFileName</key>
            <string>small_b2.png</string>
        </dict>
    </dict>
</plist>
