<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy01_Idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{81,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{162,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{243,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{324,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{405,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{486,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{567,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{648,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7274e0df06b2128fba4d7ddc57826eee:d2929c5a4792243b92162bb2126a0da6:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
