<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy01_Run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{81,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{162,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{243,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{324,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{405,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{486,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{81,62}</string>
                <key>textureRect</key>
                <string>{{567,0},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{648,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9897cf13195b207f075879d5a05842:9fcfb802dd1dd8d50f4ba2616d719162:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
