<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy01_Attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{78,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{156,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{234,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{312,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{390,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{468,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{546,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{624,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{702,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{780,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{858,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{936,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1014,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1092,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1170,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1248,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1326,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1404,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1482,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemy01_Attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{1560,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1638,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a583aaf35d60dce8367cbc8eaf530315:2861af86c9a598d89c42fffd911d013b:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
