<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spikes01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{68,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{102,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{136,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{170,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{204,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{238,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{272,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{306,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{340,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikes01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,14}</string>
                <key>spriteSourceSize</key>
                <string>{34,14}</string>
                <key>textureRect</key>
                <string>{{374,0},{34,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spikes2.png</string>
            <key>size</key>
            <string>{408,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c66cebd4e832ebdf74e20e4583dc9948:368b5db5b4c062c6b1c431062de335b5:c9c33b0c14eb363bd156d7d86320bfe0$</string>
            <key>textureFileName</key>
            <string>spikes2.png</string>
        </dict>
    </dict>
</plist>
