<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_Death_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{178,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{267,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{356,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{445,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{534,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{623,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{712,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{801,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{890,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{979,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1068,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1157,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1246,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1335,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_Death_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1424,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die_b3.png</string>
            <key>size</key>
            <string>{1513,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:786d830a7398450d50af188780cef61b:249a2217e824bdd3e81788aa50cdb7d2:0213cb14560cb8afc3b3f418637f5364$</string>
            <key>textureFileName</key>
            <string>die_b3.png</string>
        </dict>
    </dict>
</plist>
