<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_HitwSword_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{178,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{267,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{356,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{445,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{534,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{623,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_HitwSword_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{712,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_b3.png</string>
            <key>size</key>
            <string>{801,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9798d9f55d0ffbca591ff158071fc82:60cba7ff6dc1b51f169af54643252b97:6423f14cc3f46b50e36437d56ef96673$</string>
            <key>textureFileName</key>
            <string>hit_b3.png</string>
        </dict>
    </dict>
</plist>
