<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_IdlewSword_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{178,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{267,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{356,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{445,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{534,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_IdlewSword_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{623,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle_b3.png</string>
            <key>size</key>
            <string>{712,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ed236964943e7562b11e9da154323b:1cf1556b9d4e840f0633f5050d0b37ca:5fb841433c66b5489d0210e6e872a195$</string>
            <key>textureFileName</key>
            <string>idle_b3.png</string>
        </dict>
    </dict>
</plist>
