<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_RunwSword_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{178,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{267,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{356,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{445,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{534,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_RunwSword_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{623,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_b3.png</string>
            <key>size</key>
            <string>{712,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4747cbb5dc976db7f803cd2b27d86d54:7eea79d97e6890505b3224409b2f0fa4:2c79f3ad6d1aa5b95f4e219ce78f328e$</string>
            <key>textureFileName</key>
            <string>run_b3.png</string>
        </dict>
    </dict>
</plist>
