<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player_PutAwaySword_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{178,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{267,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{356,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{445,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{534,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{623,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{712,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{801,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{890,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{979,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1068,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1157,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1246,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1335,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1424,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1513,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1602,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1691,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_PutAwaySword_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,76}</string>
                <key>spriteSourceSize</key>
                <string>{89,76}</string>
                <key>textureRect</key>
                <string>{{1780,0},{89,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>win_b3.png</string>
            <key>size</key>
            <string>{1869,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65762a46149d71b9db5440f0eadc1f42:ca0d51abb668534ef2b34051ff0a7d5e:00053c3ba7ed399e6d8bcc07cae9835f$</string>
            <key>textureFileName</key>
            <string>win_b3.png</string>
        </dict>
    </dict>
</plist>
