<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Flag_03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,480},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,960},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{640,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag_03_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1280,1440},{640,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flag_w.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8cd9c08a0f33996c8bdc118aff73f0c:d51846faeb88b3719893ac1cc1068582:c53f910db4d6b08069c029f1d7b26c27$</string>
            <key>textureFileName</key>
            <string>flag_w.png</string>
        </dict>
    </dict>
</plist>
